<a href="https://colab.research.google.com/github/younghwangit/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95_231229_%EC%98%A4%EC%A0%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리
- 사전

In [ ]:
# 나라 - 수도 이름 (key : value)
# key 값은 중복으로 만들 수 없음
country_capital = {
    "대한민국" : "서울",
    "프랑스" : "파리",
    "미국" : "워싱턴",
    "영국" : "런던"
}

country_capital

{'대한민국': '서울', '프랑스': '파리', '미국': '워싱턴', '영국': '런던'}

In [ ]:
# 딕셔너리에서 value 값을 조회하는 방법은 key 값을 통해 조회
country_capital['대한민국']
# country_capital["한국"] -> key 에러가 뜸

'서울'

In [ ]:
data = {1: "버스", 3 : "비행기"}
data

{1: '버스', 3: '비행기'}

In [ ]:
# 지금 딕셔너리 숫자 1은 리스트, 문자열, tuple 인덱스 번호와 다른 숫자이다.
# 현재 여기에서는 숫자 1은 key값이다.
data[1]

'버스'

In [ ]:
data2 = {"list1" : [1,2,3], "list2": [4,5,6]}
data2

{'list1': [1, 2, 3], 'list2': [4, 5, 6]}

In [ ]:
data3 = {"list1" : [1,2,3], "list2": [4,5,6], 1 : "테스트"}
data3

{'list1': [1, 2, 3], 'list2': [4, 5, 6], 1: '테스트'}

## 딕셔너리 사용처
- 데이터 분석: 엑셀 테이블
  + 1억개의 데이터 가공을 할 때
  + 임시 테이블을 만들 때 사용한다.
  + 그리고 그걸 샘플로 가공하고 나중에 1억개에 적용한다.

- HTML, CSS, 인터넷 자료형 중 JSON 데이터 포멧
- JSON -> 딕셔너리와 동일함
  +API 데이터를 크롤링할

### 딕셔너리 메서드

In [ ]:
# 좋아하는 도시 이름으로 value값 변경하기
country_capital["대한민국"] = "부산" # 대한민국의 value인 서울을 부산으로 변경함
country_capital

{'대한민국': '부산', '프랑스': '파리', '미국': '워싱턴', '영국': '런던'}

In [ ]:
# key 값을 삭제하기
# 원칙적으로 key값은 그대로 두고 value값만 삭제할 수 없다. 대신 value값을 None으로 바꾸면 비슷하게 가능하다.
del country_capital["영국"]
country_capital["프랑스"] = None
country_capital

{'대한민국': '부산', '프랑스': None, '미국': '워싱턴'}

In [ ]:
country_capital["일본"] = "도쿄"
country_capital

{'대한민국': '부산', '프랑스': None, '미국': '워싱턴', '일본': '도쿄'}

In [ ]:
print(type(country_capital))
# country_capital이라는 객체를 만듦
# 이제부터 딕셔너리가 보유한 클래스 메서드를 사용할 수 있음

#dict_data.keys()
country_capital.keys()

<class 'dict'>

dict_keys(['대한민국', '프랑스', '미국', '일본'])

In [ ]:
# 딕셔너리에서 키 전체를 리스트 형태로 반환 그러나 리스트는 아님
print(type(country_capital.keys()))

<class 'dict_keys'>

In [ ]:
#데이터 형변환
list(country_capital.keys())
#이제 리스트가 되어서 수정, 삭제가 가능해짐

['대한민국', '프랑스', '미국', '일본']

In [ ]:
#dict_data.values()
country_capital.values()

dict_values(['부산', None, '워싱턴', '도쿄'])

In [ ]:
#dict_data.items()
#tuple 형태지만 tuple은 아님
country_capital.items()

dict_items([('대한민국', '부산'), ('프랑스', None), ('미국', '워싱턴'), ('일본', '도쿄')])

In [ ]:
new_df = {
    "중국" : "베이징",
    "필리핀" : "마닐라",
    "호주" : "캔버라"
}
country_capital.update(new_df)
country_capital

{'대한민국': '부산',
 '프랑스': None,
 '미국': '워싱턴',
 '일본': '도쿄',
 '중국': '베이징',
 '필리핀': '마닐라',
 '호주': '캔버라'}

In [ ]:
country_capital.clear()
country_capital

{}

In [ ]:
country_capital = {
    "대한민국" : "서울",
    "프랑스" : "파리",
    "미국" : "워싱턴",
    "영국" : "런던"
}
print(type(country_capital))
result = country_capital.keys()
#result.append("독일") -> dict.keys 객체에서는 어펜드를 못 씀

<class 'dict'>

In [ ]:
result = list(country_capital.keys())
result.append("독일")
print(result)

['대한민국', '프랑스', '미국', '영국', '독일']

# If 조건문
- if 조건이 true라면 ~를 해라
- 혹은 if 조건이 false라면 ~를 해

In [ ]:
x = int(input("점수를 입력하세요! ")) # 문자를 정수로 형변환
if x >= 90:
  print("합격")
elif x >= 80:
  print("부분합격, 면접 필요")
else:
    print("불합격")

점수를 입력하세요! 85
부분합격, 면접 필요

In [ ]:
# 내가 만든 코드
# 강사님과 동일함
#쉬프트 탭이 뭐지??
x = int(input("점수를 입력하세요! "))
if x >= 90:
  print("A 등급")
elif x >= 80:
  print("B 등급")
elif x >= 70:
  print("C 등급")
elif x >= 60:
  print("D 등급")
else:
  print("F 등급")

점수를 입력하세요! 85
B 등급

In [ ]:
# 중첩 조건문
# if 조건문 내부에 또 다른 조건문 생성

x = int(input("점수를 입력하세요! "))

# 100점 맞은 사람이 있으면 장학금 출력
# 합격을 받은 사람들 중에서 100점인 사람인 경우 장학금을 주겠다 (중첩 조건)
if x >= 90:
  if x == 100:
    print("장학금 수여")
  print("합격") #else를 안 써서 중복 출력됨 -> 수정한 거 아래에

else:
  print("불합격")

점수를 입력하세요! 100
장학금 수여
합격

In [ ]:
# 중첩 조건문
# if 조건문 내부에 또 다른 조건문 생성

x = int(input("점수를 입력하세요! "))

# 100점 맞은 사람이 있으면 장학금 출력
# 합격을 받은 사람들 중에서 100점인 사람인 경우 장학금을 주겠다 (중첩 조건)
if x >= 90:
  if x == 100:
    print("장학금 수여")
  else:
    print("합격")

else:
  print("불합격")

점수를 입력하세요! 100
장학금 수여

# 반복문
- for-loop, while
- 반복문의 필요성

In [ ]:
# Hello Python을 4번 출력하시오

for i in range(4):
  print("Hello Python")

Hello Python
Hello Python
Hello Python
Hello Python

In [ ]:
# for loop 특징: 반복범위가 주어짐
# i는 지역변수 걍 다른 걸로 써도 무방
for i in range(3):
  print(f"{i}번째 Hello Pyhton")

0번째 Hello Pyhton
1번째 Hello Pyhton
2번째 Hello Pyhton

In [ ]:
# for loop
# 반복 범위 지정시, 시퀀스 자료형도 사용가능함
# list의 경우
nums = [1,2,3,4,5]
for num in nums:
  print(num)

1
2
3
4
5

In [ ]:
#string(문자열)의 경우
strings = "Hello"
for text in strings:
  print(text)

H
e
l
l
o

In [ ]:
#tuple의 경우
tuples = (1,2,3,4)
for num in tuples:
  print(num)

1
2
3
4

In [ ]:
x = "프랑스"
country_capital[x]
print(f"{x}의 수도는 {country_capital[x]}이다.")

프랑스의 수도는 파리이다.

In [ ]:
# 딕셔너리의 경우
country_capital
for country in country_capital:
  print(country) # key값만 출력
  print(country_capital[country])
  print(f"{country}의 수도는 {country_capital[country]}이다.")

대한민국
서울
대한민국의 수도는 서울이다.
프랑스
파리
프랑스의 수도는 파리이다.
미국
워싱턴
미국의 수도는 워싱턴이다.
영국
런던
영국의 수도는 런던이다.

In [ ]:
# 중첩 for문
# 반복문 안에 또 다른 반복문

x_list = ["x1", "x2"]
y_list = ["y1", "y2"]

for x in x_list:
  for y in y_list:
    print(x, y)
# x1 에서 y1으로 오고 프린트. 다시 위로 올라가서 x1

x1 y1
x1 y2
x2 y1
x2 y2

In [ ]:
x_list = [2, 3, 4, 5, 6, 7, 8, 9]
y_list = [2, 3, 4, 5, 6, 7, 8, 9]

for x in x_list:
  for y in y_list:
    print(f"{x}*{y}={x * y}")
    break #이게 뭘까?

2*2=4
3*2=6
4*2=8
5*2=10
6*2=12
7*2=14
8*2=16
9*2=18

In [ ]:
for x in range(2,9): #range(2, 9) -> 2에서부터 8까지
  for y in range(2,9):
    print(f"{x}*{y}={x * y}")
  print("------")

2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
------
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
------
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
------
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
------
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
------
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
------
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
------

In [ ]:
#자주 쓰는 for문

#zip: 두 개의 개수가 비슷한 리스트를 짝 지어주는 메소드
names = ["A", "B", "C"]
ages = [10, 20, 30]

for name, age in zip(names, ages):
  print(name, age)
print("----------")

for idx, name in enumerate(names):
  print(idx, name)

A 10
B 20
C 30
----------
0 A
1 B
2 C

In [ ]:
#이건 왜 위랑 다르게 출력되는건가

names = ["A", "B", "C"]
ages = [10, 20, 30]

for a in zip(names, ages): #for 임의 변수가 하나로 나옴
  print(a)

('A', 10)
('B', 20)
('C', 30)

## While 문 특징
- for loop 는 항상 반복문의 범위를 지정함
  + 몇번 반복문을 수행할지 항상 숫자로 컨트롤이 가능함
- While 특징
  + 조건이 False가 될 때까지 반복문을 수행
  + 조건이 True면 무한 수행

In [ ]:
# 초깃값 지정
i = 1
n = 3

while i <= n:
  print(f"현재 {i}번")
  i = i + 1
# 1일 때 print하고 덧셈을 하고 다시 위로 올라감
# 2로 업데이트하고 print한 다음 덧셈을 하고 다시 위로 올라감
# 3으로 업데이트하고 print하고 덧셈을 함. 업데이트함
# 4가 되고 while에서 false가 나옴. print 안 함.

현재 1번
현재 2번
현재 3번

In [ ]:
i = 1
n = 100

while i <= n:
  print(f"현재 {i}번")
  if i >=5:
    break
  i = i + 1
  #원래는 100까지 가야하는데 break함

현재 1번
현재 2번
현재 3번
현재 4번
현재 5번

## for loop와 while 비교
- 데이터 분석만 할 계획이면 for loop만 해도 상관없음
- 개발을 하고자 한다면, while을 제대로 익혀야 함

In [ ]:
for i in range(10):
  print(f"현재 {i}번")
  if i > 5:
    break

현재 0번
현재 1번
현재 2번
현재 3번
현재 4번
현재 5번
현재 6번

In [ ]:
#문자열과 for 문
texts = "Python"
for text in texts:
  print(text)
  if text == "t":
    print("text는 t입니다.")
    break

P
y
t
text는 t입니다.

In [ ]:
# pythonic 코드
# 리스트 컴프리핸션
# for loop 및 for loop it 조건문 한줄로 처리

numbers = [1,2,3,4,5]
result = []
temp1 = 1 ** 2
temp2 = 2 ** 2
temp3 = 3 ** 2
result.append(temp1)
result.append(temp2)
result.append(temp3)
print(result)

[1, 4, 27]

In [ ]:
numbers = [1,2,3,4,5]
result = []

for i in numbers:
  result.append(i ** 2)

result

[1, 4, 9, 16, 25]

In [ ]:
#위의 것도 1줄로 처리하는 것이 리스트 컴프리핸션

numbers = [1,2,3,4,5]
result = [i ** 2 for i in numbers]
result

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1,2,3,4,5]
result = []

for i in numbers:
  if i >= 3:
    result.append(i ** 2)

result

[9, 16, 25]

In [ ]:
numbers = [1,2,3,4,5]
result = [i ** 2 for i in numbers if i >= 3]
result

#python의 다큐맨테이션에서 한번 보기
#중첩 리스트 컴프리핸

[9, 16, 25]

- 시각화 라이브러리
  +matplotlib plotly 옵션 설정할 때 자주 사용됨.

# 파이썬 문서화(Docstring)
- 협업을 위해서 남들이 알아 볼 수 있는 코딩을 할 줄 알아야 한다.
- https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
- 위의 링크 중 parmeters 설명과
  + Any valid string path is acceptable. The string could be a URL. Valid URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is expected. A local file could be: file://localhost/path/to/table.csv.
If you want to pass in a path object, pandas accepts any os.PathLike.
By file-like object, we refer to objects with a read() method, such as a file handle (e.g. via builtin open function) or StringIO.

- https://github.com/pandas-dev/pandas/blob/v2.1.4/pandas/io/parsers/readers.py#L848-L948
- 위의 링크 코딩 중
  + filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.

- 비교하면서 보기

- 프로젝트 진행
 + 마지막주에는 ppt보고서 작성과 Docstring 문서화를 진행해야 한다
 + help() 명령어를 사용해서 불러오기가 가능
 + read_csv() 문서처럼 출력이 가능

In [ ]:
help(print)
# print에 대한 문서가 출력됨

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
def myPower(n):
  """숫자 n을 입력하면 n의 거듭제곱으로 반환"""
  result = n ** 2
  return result

In [ ]:
print(myPower(9))

81

In [ ]:
print(myPower.__doc__)

숫자 n을 입력하면 n의 거듭제곱으로 반환

In [ ]:
def read_csv(sep, header):
  """

  Returns sum of ~~~.

    Parameters:
      sep (str) : str에 대한 설명
      header (int): int에 대한 설명

    Returns:
    c (int) : Sum of ~~~
  """

  c = sep + header
  return c

In [ ]:
print(read_csv.__doc__)

  Returns sum of ~~~.

    Parameters:
      sep (str) : str에 대한 설명
      header (int): int에 대한 설명

    Returns:
    c (int) : Sum of ~~~

# 클래스 상속
- 대분류 > 중분류 > 소분류

- 동물
  + 살아 움직인다.
- 포유류
  +(살아 움직인다) 새끼를 우유로 키운다
- 파충류
  +(살아 움직인다) 냉혈이다

In [ ]:
class Animal:
  # Attribute 정의 (클래스 변수 정의)
  name = ""

  # 공통함수
  def eat(self):
    print("나는 영양분을 외부에서 얻어야 해")

class Dog(Animal): # Animal 클래스를 상속함.
                  #  Animal의 기능을 Dog 클래스에도 기본 기능을 제공함. (기본기능: name과 eat)
#새로운 메소드 추가
  def bark(self):
    print(f"{self.name} 강아지가 짖는다.")

In [ ]:
# 객체 생성
a = Dog()
a.name = "바둑이"
a.eat()
a.bark()

나는 영양분을 외부에서 얻어야 해
바둑이 강아지가 짖는다.

In [ ]:
b = Animal()
b.name = "시고르자브종"
b.eat()
# b.bark 상위 클래스는 하위 클래스의 메소드를 실행시킬 수 없다.

나는 영양분을 외부에서 얻어야 해

## 클래스 Docstring

In [ ]:
class Person:

  """

  자기 소개하는 Person 클래스
  '''
  Attributes
  -----------
  name : str
    사람의 이름을 의미
  age : int
    사람의 나이를 의미
  grade : int
    사람의 현재 학년을 의미

  Methods
  -----------
  info(comment=""):
    사람의 개인정보를 출력

  """

  def __init__(self, name, age, grade):
    """

    """
    self.name = name
    self.age = age
    self.grade = grade

  def info(self, comment = ""):
    """

    """
    print(f"내 이름은 {self.name}. 내 나이는 {self.age}. 현재 학년은 {self.grade}. {comment}")

In [ ]:
print(Person.__doc__)

  자기 소개하는 Person 클래스
  '''
  Attributes
  -----------
  name : str
    사람의 이름을 의미
  age : int
    사람의 나이를 의미
  grade : int
    사람의 현재 학년을 의미

  Methods
  -----------
  info(comment=""):
    사람의 개인정보를 출력

In [ ]:
help(Person)

Help on class Person in module __main__:

class Person(builtins.object)
 |  Person(name, age, grade)
 |
 |  자기 소개하는 Person 클래스
 |  '''
 |  Attributes
 |  -----------
 |  name : str
 |    사람의 이름을 의미
 |  age : int
 |    사람의 나이를 의미
 |  grade : int
 |    사람의 현재 학년을 의미
 |
 |  Methods
 |  -----------
 |  info(comment=""):
 |    사람의 개인정보를 출력
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age, grade)
 |
 |  info(self, comment='')
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)