<a href="https://colab.research.google.com/github/younghwangit/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95_231227_%EC%98%A4%EC%A0%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3. 파이썬을 계산기처럼



### 사칙연산

In [ ]:
1+1

2

In [ ]:
5-2

3

In [ ]:
5 -2

3

In [ ]:
15*2
# 정수로 덧셈, 뺄셈, 곱셈을 연산하면 정수로 나온다.

30

In [ ]:
# 나눗셈
14/2
# 정수로 나눠도 실수형으로 반환된다.

7.0

### 실수연산

In [ ]:
1.2 + 5.2
1.2 - 5.2
1.2 * 5.2
2.4 / 2.0

1.2

In [ ]:
print(1.2 + 5.2)
print(1.2 - 5.2)
print(1.2 * 5.2)
print(2.4 / 2.0)

6.4
-4.0
6.24
1.2

### 연산규칙

- (1) 괄호 안 계산
- (2) 지수 계산
- (3) 곱셈, 나눗셈 계산
- (4) 덧셈 뺄셈 계산
- (5) 같은 순위 연산이면, 왼쪽에서 오른쪽으로
- (6) 중복된 괄호가 있으면 안쪽에서부터 처리

### type()

함수의 종류

- 내장(빌트인) 함수 : 파이썬 설치와 함께 제공하는 기본적인 함수 (print, type)

- 라이브러리에서 제공하는 함수
 + R: 패키지, 파이썬: 라이브러리
 + 목적이 분명.
    - 웹사이트 개발: 해당 기능과 관련된 라이브러리를 별도로 설치한다.\
    - 수치연산: numpy, scipy

In [ ]:
## 파이썬에서는 정수를 어떻게 표현하나
print(type(3))

<class 'int'>

In [ ]:
## 파이썬에서는 실수를 어떻게 표현하나
print(type(3.5))

<class 'float'>

## 거듭 제곱과 나머지

In [ ]:
print(2**5)
# 거듭제곱

32

In [ ]:
print(13%5)
# 나머지를 구하기

3

In [ ]:
print(13//5)
# 몫 구하기

2

교재 표 3-1 산술연산자 표 정리

## 과학적 표기법(scientific notation)
- 아주 큰 수, 작은 수를 다뤄야 하는 케이스
3*10^8 을 다음과 같이 표현할 수 있다.

In [ ]:
3*10**8

300000000

In [ ]:
3e8

300000000.0

In [ ]:
print(3e-4)

0.0003

In [ ]:
print(1e-4)

0.0001

## 진수 표현과 변환
- 10진법, 60진법(시간)
- 8진법:0~7까지의 숫자
- 16진법: 0~9, a, b, c, d, e, f
- 변환 메서드: bin(), oct(), hex()

In [ ]:
0b1001 # 2진법

9

In [ ]:
0o21 # 8진법

17

In [ ]:
0x11 #16진법

17

## 논리 연산과 비교 연산
- 참과 거짓
- 논리 연산을 잘 활용하는 것이 프로그래밍의 핵심

In [ ]:
print(True)

True

In [ ]:
print(False)

False

In [ ]:
type(True)

bool

In [ ]:
print(type(True))

<class 'bool'>

## 논리 연산자
- and: 모두 참이어야 함
- or: 하나라도 참이면 참
- not: 부정, not A -> A가 참일 때 거짓. A가 거짓이면 참.

In [ ]:
print(True and True)
print(True and False)
print(False and False)
print(True or False)
print(False or False)

True
False
False
True
False

In [ ]:
print(not True)

#True 또는 False 결과가 나오도록 조건식을 만드는 것이 코딩의 핵심이다.

False

## 비교연산자

In [ ]:
1 == 2

False

In [ ]:
1 != 2

True

In [ ]:
print(1 <=2)

True

## 비교연산자와 논리연산자
- 비교연산자를 1순위로 연산하고 논리연산자를 한다.

In [ ]:
print(1 > 0 and -2 < 0)
print((3 < 0) and (-5 > 0) and (1>5))
print((3 < 0) or (-5 > 0) or (1 < 5))

True
False
True

#### 깃허브 연동 테스트용 텍스트
- 오전에는 실패
- 오후에는 성공. 완전 자동이 아니라 같은 파일명을 유지한 상태로 사본저장을 눌러 커밋해줘야 함
-
- Repo 1: 학습, 교육용 Mulcamp-lecture
- Repo 2: 멀캠 세미 프로젝트 관련
- Repo 3: 00공모전 관련
(...)

- 옵션: 자기소개 관련 레포를 만들어라
- 향후 링크를 추가할 수 있다.

# Chapter 4. 변수와 자료형

파이썬은 객체지향 언어입니다.

### 변수 (p42)

변수명 = data

In [ ]:
a = 100
print(a)

100

In [ ]:
#변수명 짓기 규칙: snake, camel

#Snake
num_a = 100
num_b = 100

# Camel
myStudent = "even"
mySchool = "학교이름"

# 주의사항: "3star" 과 같이 앞에 숫자가 오면 안 된다.
# 내장함수명을 변수명으로 만들면 안 된다. ex.) print(print)
# 변수명 작성 시 공백이 있으면 안 됨

In [ ]:
num = 1
Num = 100
print(num)
print(Num)

1
100

### 상수
- 한번 지정 후 , 변하지 않은 고정값

In [ ]:
# 상수
pi = 3.14

In [ ]:
# 실제 변수를 만들어보기
num1 = input("숫자를 입력해주세요!!")
num2 = input("숫자를 입력해주세요!!")

print(num1, num2)

숫자를 입력해주세요!!100
숫자를 입력해주세요!!200
100 200

In [ ]:
print(num1 + num2) # 문자열의 합이 된다. 300이 아니라
print(type(num1))
print(type(num2))

100200
<class 'str'>
<class 'str'>

In [ ]:
int_num1 = int(num1)
int_num2 = int(num2)

print(int_num1 + int_num2)

300

### 문자열

""와 ''의 차이는 없다.

In [ ]:
greeting = "Hello String"
print(greeting)

Hello String

In [ ]:
string3 = 'This is a "double" quotation test'
print(string3)
# "This is a "double" quotation test" 이렇게 하면 틀림 ("" 안의 "")

This is a "double" quotation test

In [ ]:
long_string1 = """
문장이 긴 텍스트 1
문장이 긴 텍스트 2
문장이 긴 텍스트 3
"""
print(long_string1)

문장이 긴 텍스트 1
문장이 긴 텍스트 2
문장이 긴 텍스트 3

In [ ]:
a = "Enjoy "
b = "Python!"
print(a + b)
print(a * 3)

Enjoy Python!
Enjoy Enjoy Enjoy

## 리스트(List) p.49
- 가장 중요한 자료형
- 배열(Array)
- 예시
  + 1반의 과목별 수학 점수
- 다중의 데이터를 묶는다

In [ ]:
# 1반 학생의 국어, 영어, 수학, 과학
student1 = [90, 95, 85, 80]
student1

[90, 95, 85, 80]

In [ ]:
print(type(student1))

<class 'list'>

### 인덱싱
- 리스트에서 특정 데이터를 추출한다.

In [ ]:
print(student1[0])
print(student1[1])
print(student1[2])
print(student1[3])

90
95
85
80

In [ ]:
greeting = "Hello, Python"
print(greeting[7])

P

### 리스트의 값 업데이트

In [ ]:
student1[0] = 100 #새로운 데이터 할당
print(student1)

[100, 95, 85, 80]

In [ ]:
myFriends = ["황동건", "박권일", "김정준"]
print(myFriends)
newFriends = ["최신우"]
myFriends2 = myFriends + newFriends
print(myFriends2)

['황동건', '박권일', '김정준']
['황동건', '박권일', '김정준', '최신우']

In [ ]:
myNumbers = [1]
myNumbers * 3 #리스트에 대해서 [1] + [1] + [1] 형태로 들어감

[1, 1, 1]

In [ ]:
print(myFriends2[2][1]) #김정준의 정을 추출

정

In [ ]:
mixed = [0, 2,3.14, "python", True, myFriends2]
print(mixed)

[0, 2, 3.14, 'python', True, ['황동건', '박권일', '김정준', '최신우']]

In [ ]:
print(mixed[5][3][1])
print(mixed[-1][-1][1])

신
신

### 슬라이싱
- 문자열, 리스트, 그 외 파이썬 자료형 원리 동일

In [ ]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)

print(list_data[0:3]) #시작인덱스 이상 끝 인덱스 미만을 가져
print(list_data[:6])
print(list_data[4:])
print(list_data[:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[0, 1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(greeting[:5])

Hello

In [ ]:
print(list_data[::2]) # 0부터 2칸씩
print(list_data[::3]) # 0부터 3칸씩

[0, 2, 4, 6, 8]
[0, 3, 6, 9]

## 튜플(Tuple)
- 리스트와 유사하다
- 인덱싱, 슬라이싱이 동일함

In [ ]:
tuple1 = (0, 1, 2, 3, 4, 5, 6,7, 8, 9)
print(tuple1)
print(tuple1[4])
print(tuple1[2:5])

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
4
(2, 3, 4)

- 차이점
튜플은 수정, 삭제가 불가능하다. 에러도 아니고 걍 안 됨

In [ ]:
l_data = [0, 1, 2, 3]
t_data = (0, 1, 2, 3)

l_data[3] = 30 #리스트의 3을 30으로 업데이트
print(l_data)

# t_data[3] = 30
# 위를 실행하면 안 됨

del l_data[2]
print(l_data)
# del t_data[2] 도 안 됨

[0, 1, 2, 30]
[0, 1, 30]

튜플을 쓰는 이유
리스트보다 가볍다!!

In [ ]:
print("End")

End