<a href="https://colab.research.google.com/github/younghwangit/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95_231228_%EC%98%A4%EC%A0%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열 함수
리스트 함수

## split()

In [ ]:
coffee_menu_str = "에스프레소, 아메리카노, 카페라떼, 카푸치노"
coffee_menu_str.split(',') # , 를 기준으로 리스트 형태로 나눔

['에스프레소', ' 아메리카노', ' 카페라떼', ' 카푸치노']

In [ ]:
"에스프레소, 아메리카노, 카페라떼, 카푸치노".split(',') # 문자열을 변수로 할당하지 않고 바로 스플릿할 수 있음

['에스프레소', ' 아메리카노', ' 카페라떼', ' 카푸치노']

In [ ]:
"에스프레소 아메리카노 카페라떼 카푸치노".split(" ") # 공백을 기준으로 나눠서 스플릿

#2번줄은 , 의 패턴을 기준으로 그리고 제외하고 리스트로 만듦
#3번줄은 공백의 패턴을 기준으로, 그리고 제외하고 리스트로 만듦
#결과값의 형태는 같지만 다른 이

['에스프레소', '아메리카노', '카페라떼', '카푸치노']

In [ ]:
phone_number = "+82-10-2345-6789"

print(phone_number[0:3])
result = phone_number.split("-")
print(result[0])
#split을 애용하자

+82
+82

In [ ]:
phone_number.split("-", maxsplit=2)
#내가 원하는 부분까지 스플릿이 가능하다
#매개변수 maxsplit

['+82', '10', '2345-6789']

## strip(): 필요없는 문자열 삭제
- 앞뒤 공백, 개행문자와 같이 불필요한 부분을 지우고 싶을 때 사용

In [ ]:
temptText = " Python "
print(temptText)
print(temptText.strip())

 Python
Python

In [ ]:
tempText = "aaaPythonaaaaaa"
print(tempText[3:9]) #그러나 a의 개수가 달라지면 원하는 결과가 나오지 않음
print(tempText.strip("a")) #a 삭제

Python
Python

In [ ]:
tempText = "aaaPythonbbaaaa"
result = tempText.strip("ab") #a와 b를 삭제한다
print(result)

Python

In [ ]:
testMyself = "bbbbban apple a daybbbbb"
#원하는 결과; an apple a day
result = testMyself.strip("ab")
print(result)

n apple a day

In [ ]:
tempText = "\n Python \n\n" #개행문자 지우기
result = tempText.strip(" \n") #공백과 개행문자 지우기
print(result)

# lstrip() : 해당 텍스트의 왼쪽만 제거
# rstrip() : 해당 텍스트의 오른쪽만 제거

Python

## join(): 문자열 연결
- 더하기 연산자(+)로 두 문자열 연결 가능함

In [ ]:
name1 = "철수"
name2 = "영미"

hello = "님, 주소와 전화번호를 입력해 주세요."
print(name1 + hello)
print(name2 + hello)

철수님, 주소와 전화번호를 입력해 주세요.
영미님, 주소와 전화번호를 입력해 주세요.

In [ ]:
address_list = ["서울시", "서초구", "반포대로", "201(반포동)"]

# 리스트의 각 값을 모두 연결해서 하나의 텍스트로 바꾸고자 함
a = " " #공백
print(a.join(address_list)) #리스트 안의 내용물들을 연결하는데 중간중간에 a(공백)울 넣는다.
b = "//"

서울시 서초구 반포대로 201(반포동)

In [ ]:
".".join(address_list)
#변수를 항상 정의할 필요는 없지만 메소드 앞에 매개해줄 무언가가 필요하다.
#매개를 쓰고 싶지 않다면 연산자를 사용해야 함

'서울시.서초구.반포대로.201(반포동)'

## find(): 문자열 찾기
- 문자열의 위치값을 반환함

In [ ]:
str_f = "Python code."
print("찾는 문자열의 위치 : ", str_f.find("Python"))
print("찾는 문자열의 위치 : ", str_f.find("code"))
print("찾는 문자열의 위치 : ", str_f.find("Java"))
# -1은 해당되는 문자 없음

찾는 문자열의 위치 :  0
찾는 문자열의 위치 :  7
찾는 문자열의 위치 :  -1

## count() : 찾고자 하는 문자열의 갯수를 반환
- 만약 찾을 문자열이 없으면 0으로 반환

In [ ]:
str_c = "Python is powerful. Python is easy to learn. Python is open"
print("Python의 갯수는? ", str_c.count("Python"))
print("Java의 갯수는? ", str_c.count("Java"))

Python의 갯수는?  3
Java의 갯수는?  0

## startswith, endswith
- 각 문자열이 지정된 문자로 시작하는지 또는 끝나는지 체크, 검사할 때 사용

In [ ]:
str_c = "Python is powerful. Python is easy to learn. Python is open."
print("Python으로 시작하는가? ", str_c.startswith("Python"))
print("is로 시작하는가? ", str_c.startswith("is"))
print("'.'로 끝나는가? ", str_c.endswith("."))

Python으로 시작하는가?  True
is로 시작하는가?  False
'.'로 끝나는가?  True

## replace(): 문자열 바꾸기
- 지정한 문자열을 찾아서 바꾸는 메소드

In [ ]:
str_a = "Python is fast. Python is friendly. Python is open."

# Pyhton을 IPyhton으로 변경
print(str_a.replace("Python", "IPyhton"))

IPyhton is fast. IPyhton is friendly. IPyhton is open.

In [ ]:
str_b = "[Python][is][fast]"
str_b1 = str_b.replace("["," ")
str_b2 = str_b1.replace("]", " ")
print(str_b2)
result = str_b2.rstrip() #뒤의 공백을 제거
print(result)

 Python  is  fast
 Python  is  fast

# 리스트 함수
- 교제(54페이지)

## 클래스

## append()
- 리스트에서 항목 하나를 맨 마지막에 추가

In [ ]:
myFriends = ["김영환", "황동건", "박권일", "최신우"]
# result = myFriends.append("김정준")
# print(result)
# 저거 하면 None
myFriends.append("김정준")
print(myFriends)

['김영환', '황동건', '박권일', '최신우', '김정준']

In [ ]:
myFriends = ["황동건", "박권일", "김정준"]
print(myFriends)
newFriends = ["최신우"]
myFriends2 = myFriends + newFriends
print(myFriends2)

## 이것도 리스트에 값을 추가하지만 연산자를 쓰고 새로운 리스트를 만들어야 하는 단점이 있다.

['황동건', '박권일', '김정준']
['황동건', '박권일', '김정준', '최신우']

## extend()
- 리스트 마지막에 여러 항목들을 추가

In [ ]:
myFriends = ["김영환", "황동건", "박권일", "최신우"]
myFriends.append("김정준")

newFriends = ["정영훈", "이재훈", "송준성"]
myFriends.append(newFriends)
print(myFriends)

['김영환', '황동건', '박권일', '최신우', '김정준', ['정영훈', '이재훈', '송준성']]

In [ ]:
myFriends = ["김영환", "황동건", "박권일", "최신우", "김정준"]
newFriends = ["정영훈", "이재훈", "송준성"]
myFriends.extend(newFriends)
print(myFriends)

['김영환', '황동건', '박권일', '최신우', '김정준', '정영훈', '이재훈', '송준성']

## insert()

In [ ]:
myFriends.insert(3, "김사미")
# 3의 위치에 김사미를 삽입
print(myFriends)
myFriends.insert(-1, "양상원")
print(myFriends)

['김영환', '황동건', '박권일', '김사미', '최신우', '김정준', '정영훈', '이재훈', '송준성']
['김영환', '황동건', '박권일', '김사미', '최신우', '김정준', '정영훈', '이재훈', '양상원', '송준성']

In [ ]:
ex_list = ["a", "b", "c", "d"]
ex_list.insert(-1, "e")
print(ex_list)
# e가 맨 끝으로 안 감

['a', 'b', 'c', 'e', 'd']

In [ ]:
ex_list = ["a", "b", "c", "d"]
ex_list.insert(len(ex_list), "e")
print(ex_list)
## 아니면 append 함수 쓰기
ex_list.append("f")
print(ex_list)

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e', 'f']

## 함수
- 함수를 직접 만들어서 쓰기 -> 클래스
- 의미있는 함수를 만드는 작업 : 프로젝트

In [ ]:
# 함수의 구조
# 매개변수, 인자
# 교재 페이지 116
#def 함수명([인자1, 인자2, ...,인자n]):
  # 코드 블록
  # return 반환

In [ ]:
def mySum(a, b):
  c = a + b
  return c
a = 1
b = 2

result = mySum(a, b)
print(result)

3

In [ ]:
def mySubtract(a, b):
  c = a - b
  return c
c = 3
d = 2
print(mySubtract(c, d))

1

In [ ]:
def mySubtract(a, b = 0):
  c = a - b
  return c

m = 1
print(mySubtract(10))
#b를 0으로 초깃값이 설정 되어있기 때문에 오류 안

10

In [ ]:
n = 10
f = 100
print(mySubtract(n, f))
# b가 100으로 새로 정의되고 그걸로 연삼함.

-90

In [ ]:
def my_func():
  print("My first function")
  print("This is a function")
my_func() #반환값이 없는 메서드. 변수를 넣지 않아도 결과가 나옴

My first function
This is a function

In [ ]:
def mySum(a, b = 0):
  c = a + b
  print(f"함수 잘 작동 중 이면 {c} 가 나와야 함")

a = 1
result = mySum(a)
print(result)

#None이라고 나온 이유는 반환값이 없기 때문에

함수 잘 작동 중 이면 1 가 나와야 함
None

In [ ]:
def mySum(a, b = 0):
  c = a + b
 # print(f"함수 잘 작동 중 이면 {c} 가 나와야 함")
  return c

a = 1
result = mySum(a)
print(result)

1

### 변수의 유효범위
- 교재 121 페이지
- 지역 변수와 전역 변수
- local variable and global variable

In [ ]:
a = 5 # 전역 변수

def func1():
  a = 1 # 지역 변수
  print(f"func1 지역 변수 a = {a}")

func1()
print(f"전역 변수 a = {a}")

print(a + 1)

#해설
#일반적으로 코딩은 위에서 아래로 연산하므로 a는 1이 나와야 하는데
#지역 변수 a는 밖으로 나오지 않고 함수 내부에서만 영향을 미친다
#전역 변수 a는 func1을 무시하고 전체에 영향을 미친다

func1 지역 변수 a = 1
전역 변수 a = 5
6

In [ ]:
a = 5 # 전역 변수

def func1():
  #a = 1 # 지역 변수
  print(f"func1 지역 변수 a = {a}")

func1()
print(f"전역 변수 a = {a}")

#해설
#함수 내부에서 a를 재정의하지 않았기 때문에 전역 변수 a가 함수 내부까지 영향을 미치고 있다.

func1 지역 변수 a = 5
전역 변수 a = 5

In [ ]:
a = 5 # 전역 변수

def func1():
  a = 1 # 지역 변수
  print(f"func1 지역 변수 a = {a}")

def func2():
  a = 4 # 지역 변수
  print(f"func2 지역 변수 a = {a}")

func1()
func2()
print(f"전역 변수 a = {a}")

func1 지역 변수 a = 1
func2 지역 변수 a = 4
전역 변수 a = 5

In [ ]:
#함수 내부에 global 지정하기

a = 5 # 전역 변수

def func1():
  a = 1 # 지역 변수
  print(f"func1 지역 변수 a = {a}")

def func2():
  a = 4 # 지역 변수
  print(f"func2 지역 변수 a = {a}")

def func3():
  print(f"func3 전역 변수 a = {a}")

def func4():
  global a #함수 내에서 전역 변수를 변경하기 위함\
  a =  500
  print(f"func4 전역 변수 a = {a}")


func1()
func2()
func3()
print(f"전역 변수 a = {a}")

func1 지역 변수 a = 1
func2 지역 변수 a = 4
func3 전역 변수 a = 5
전역 변수 a = 5

In [ ]:
#함수 내부에 global 지정하기

a = 5 # 전역 변수

def func1():
  a = 1 # 지역 변수
  print(f"func1 지역 변수 a = {a}")

def func2():
  a = 4 # 지역 변수
  print(f"func2 지역 변수 a = {a}")

def func3():
  print(f"func3 전역 변수 a = {a}")

print(f"func4를 거치기 전의 전역 변수 a = {a}")

def func4():
  global a #함수 내에서 전역 변수를 변경하기 위함
  a =  500
  print(f"func4 전역 변수 a = {a}")


func1()
func2()
func3()
func4()
print(f"전역 변수 a = {a}")
func3()

#func4() 를 선언해야 글로벌도 바뀜

func4를 거치기 전의 전역 변수 a = 5
func1 지역 변수 a = 1
func2 지역 변수 a = 4
func3 전역 변수 a = 5
func4 전역 변수 a = 500
전역 변수 a = 500
func3 전역 변수 a = 500

### 람다 함수
- def 함수는 복잡한 함수 로직을 만들 때 주로 사용함
- 람다 함수는 단순 기능을 수행할 때 사용함
- 함수는 한줄로 처리

In [ ]:
(lambda x : x ** 2)(3)
# (lambda 인자(=매개변수) : 인자를 활용한 코드)(원하는 인자 코드 입력)

print((lambda x : x ** 2)(3))

def myPower(x):
  y = x ** 2
  print(y)
myPower(3)

9
9

In [ ]:
mySquare = lambda x : x ** 2
mySquare(5)

25

## 클래스 선언과 객체 생성
- 교재 135 페이지
- 함수의 확장
- 비유
- 함수: 각 덧셈, 뺄셈, 곱셈 등
- 클래스: 사칙연산 모음, 계산기 그 자체
- 라이브러리: 클래스들의 묶음
- 수학 라이브러리 안에 사칙연산 클래스, 기하 클래스, 미적분 클래스 (...)

In [ ]:
# 자전거의 속성 : data (바퀴의 크기, 자전거의 색상)
# 자전거의 동작 : method, function (지정된 속도로 이동, 좌/우회전, 정지 기능)

In [ ]:
class Bicycle():#클래스 선언
  #클래스 변수
  data1 = 바퀴의 크기
  data2 = 자전거의 색상

  #클래스 메서드
  def speed():
    pass

  def direction():
    pass

  def 정지():
    pass

객체명 = Bicycle(data1, data2) # 입력한 형태로 새로운 객체가 생김

#if 케이스
벤츠자전거 = Bicycle(data1, data2) #매장옵션

#문의: 벤치자전거에 비행하는 기능 추가를 원함 -> 없으니 거절.

In [ ]:
#리스트라는 클래스 안에 count()라는 동작을 만듦
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

### 프로그래밍 관점에서 왜 클래스냐?

In [ ]:
result1 = 0
result2 = 0

def add1(num):
  global result1

  result1 = result1 + num
  return result1

def add2(num):
  global result2

  result2 = result2 + num
  return result2

print(add1(3))
print(add2(5))

#같은 기능을 하는 함수가 중복되어서 나타남. 가독성이 떨어짐.

3
5

In [ ]:
class Calculator:
  # __init__ : 함수를 만들기 전에 변수를 초기화함
  #바로 위 tpfdml result = 0 과 같은 역할
  def __init__(self):
    self.result = 0
  # 클래스 메서드
  def add(self, num):
    self.result = self.result + num
    return self.result
    #init의 0 값을 받고, num을 더함. 그리고 다시 init의 self result로 반환한다.

cal1 = Calculator() #인스턴스화, 계산기 1호기를 만듦
cal2 = Calculator()

print(cal1.add(3)) #cal1(add(3))이 아님!. 실수함, 위의 클래스에서 add는 메서드로 등록되어 있다. 연산자?가 아니
print(cal1.add(5))
print(cal2.add(10))

#위의 셀보다 확연하게 짧아짐
#독립적으로 구현되고 동시에 실행되고 있

3
8
10

In [ ]:
print(cal2.add(40))

50

### 객체 초기화
- __init__ 메서드 : 객체 생성과 동시에 속성값을 지정할 수 있다.
  + 주로 클래스 선언 시 변수 초기화 목적으로 사용함

In [ ]:
class Bicycle():

  def __init__(self, wheel_size, color):
    self.wheel_size = wheel_size
    self.color = color

  def stop(self):
    print("자전거({0}, {1}) : 정지".format(self.wheel_size, self.color))

In [ ]:
my_bicycle = Bicycle(26, "black")
your_bicycle = Bicycle(30, "pink")

my_bicycle.stop()
your_bicycle.stop()
#실행 결과 26에 검은색 자전거가 정지한다.
#실행 결과 30에 핑크색 자전거가 정지한다.

자전거(26, black) : 정지
자전거(30, pink) : 정지